@using ContentRate.Application.Contracts.Rooms;
@using ContentRate.ViewModels.Rooms;
@page "/roomlist"
@inherits ReactiveComponentBase<RoomListViewModel>



<MudGrid Class="mt-3" Justify="Justify.SpaceBetween">
    <MudItem Class="d-flex">
        <MudText Class="align-self-center" Typo="Typo.h5">Список комнат</MudText>
    </MudItem>
    <MudItem xs="6">
        <MudTextField @bind-Text="ViewModel.SearchText" T="string" Label="Название комнаты" Variant="Variant.Outlined"  />
    </MudItem>
    <MudItem Class="d-flex">
        <MudButton Class="align-self-center" Variant="Variant.Filled" Color="Color.Primary">Создать комнату</MudButton>
    </MudItem>
</MudGrid>
@if (ViewModel!.RoomTitles is null || ViewModel.IsBusy)
{
    <div class="d-flex justify-center m-4">
        <MudProgressCircular Style="height:300px;width:300px" Size="Size.Large"
                         Color="Color.Primary" Indeterminate="true" />
    </div>

}
else
{
    <MudGrid>
        <MudVirtualize T="RoomTitle" Items="ViewModel.RoomTitles" Context="roomTitle" OverscanCount="10">
            <MudItem xs="12" md="6">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@roomTitle.Name</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>Создатель: @roomTitle.Creator.Name</MudText>
                        <MudText Typo="Typo.body2">Оценивают: @roomTitle.AssessorCount чел.</MudText>
                        <MudText Typo="Typo.body2">Дата создания: @roomTitle.CreationTime.ToShortDateString()</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Войти</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudVirtualize>
    </MudGrid>
}